body {
    background-image: url(assets/wallpaper.png);
    background-size: cover;
} 

@font-face {
    font-family: terminal-font;
    src: url(assets/JetbrainsMonoMedium-nRvBM.ttf);
}

#terminal-screen {
    color: white;
    font-family: terminal-font;
    font-size: large;
    border-top: 15px solid white;
    background-color: black;
    padding-top: 0px;
}
#contacts {
    color: grey;
    background-color: black;
    margin-top: 100px;
    padding-left: 25%;
    padding-right: 25%;
}
#avatar {
    width: 20%;
    height: auto;
    z-index: 0;
}

#terminal-text {

}

img.hidden {
    width: 0px;
    height: 0px;
}

#prompt {
    color: greenyellow;
}

#working-dir {
    color: blue;
}

#input-command {
    color: white;
    font-family: terminal-font;
    font-size: large;
    background-color: rgba(0, 0, 0, 0);
    border: 0 solid;
}
#input-command {
    border: 0 solid;
}